# List

In [26]:
def subtraction(a, b):
    return a - b

subtraction (10 ,3)

7

In [25]:
def insert_at_a(l, position, e):
    left_part = l[:position] # this is a list
    left_part.append(e) # this is a list
    right_part = l[position:] #this is a list
    return left_part + right_part

def insert_at_b(l, position, e):
    return l[:position] + [e] + l[position:]


my_list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
insert_at_b (my_list1, 5, 9999)

my_list1.insert(5, 999) # function to insert an element in a specific position
my_list1

[1, 2, 3, 4, 5, 999, 6, 7, 8, 9]

In [12]:
my_list = [1, 2, 3, 'Python', 4, 5]
print('List sample', my_list)
print('Second element of the list', my_list[1])

my_list[1]=20
my_list.append(True)
print('List sample',my_list)

my_list.remove(my_list[3])
print('List sample', my_list)

print('Left part of the list', my_list[:3])

print('Right part of the list', my_list[3:])

print('Concatenate the two list', my_list[:3]+my_list[3:])

List sample [1, 2, 3, 'Python', 4, 5]
Second element of the list 2
List sample [1, 20, 3, 'Python', 4, 5, True]
List sample [1, 20, 3, 4, 5, True]
Left part of the list [1, 20, 3]
Right part of the list [4, 5, True]
Concatenate the two list [1, 20, 3, 4, 5, True]

# Tuples

In [30]:
my_tuple = ('arrow', 'banana', 'cherry')
type (my_tuple)
my_tuple

('arrow', 'banana', 'cherry')

In [32]:
my_tuple[0]

'arrow'

In [34]:
#my_tuple[0]='orange' # forbidden
# my_tuple.append('orange') # forbidden becau
my_tuple[0]

'arrow'

# Dictionaries

In [37]:
my_dict = {'name': 'Alice', 'age': 25, 'location': 'New York'}
my_dict

{'name': 'Alice', 'age': 25, 'location': 'New York'}

In [39]:
#my_dict[1] error, because they are un-ordered

my_dict['country'] = 'United States'
my_dict

{'name': 'Alice',
 'age': 25,
 'location': 'New York',
 'country': 'United States'}

In [41]:
my_dict['location']

'New York'

In [44]:
my_dict['age']=35
my_dict

{'name': 'Alice',
 'age': 35,
 'location': 'New York',
 'country': 'United States'}

In [47]:
my_dict['tuple'] = my_tuple
my_dict

{'name': 'Alice',
 'age': 35,
 'location': 'New York',
 'country': 'United States',
 'tuple': ('arrow', 'banana', 'cherry')}

In [50]:
print(my_dict['tuple'][1])

banana

# Sets

In [55]:
my_set = {1, 2, 3, 4, 5, 6} # cancels the duplicate elements
my_set

my_set.add(10) # just a single element!
my_set

{1, 2, 3, 4, 5, 6, 10}

# Common functions

In [56]:
len(my_set)

7

In [58]:
len(my_tuple)

3

In [60]:
len(my_list)

6

In [61]:
len(my_dict)

5