In [2]:
maxdistance = 30
temperature = 30.4
greet_ing = "Hot"
isRaining = False

In [4]:
first_value
total_amount
calc_num
data_entry

NameError: name 'first_value' is not defined

In [16]:
float(42)
print(float(42))

42.0

In [17]:
int(3.14159)
print(int(3.14159))

3

In [19]:
str(99.99)
print(str(99.99))

99.99

In [21]:
float(str(99.99))
print(float(str(99.99)))

99.99