# For loops

In [4]:
range(5)
range(5)[3]

3

In [6]:
for i in range(5):
    print (i)

0
1
2
3
4

In [8]:
my_list = [1, 4, 7, 10, -5]
my_list

[1, 4, 7, 10, -5]

In [11]:
for i in my_list:
    print (i)

1
4
7
10
-5

In [14]:
my_tuple = (3, -2, 'hello', True)
my_tuple

(3, -2, 'hello', True)

In [16]:
for i in my_tuple:
    print(i)

3
-2
hello
True

In [22]:
for i in my_tuple:
    print('Barbera')

Barbera
Barbera
Barbera
Barbera

# While loops

In [25]:
counter =0
while counter <5:
    print(f'within the loop: {counter}')
    counter += 1
    if counter == 3:
        break

print(f'outside of the loop: {counter}')

within the loop: 0
within the loop: 1
within the loop: 2
outside of the loop: 3

In [30]:
counter = 10
while counter >= 1:
    print(counter)
    counter /= 2
    if counter < 1:
        break
print(counter)

10
5.0
2.5
1.25
0.625

In [32]:
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [36]:
for i in range(3): # loop for three rows
    for j in range(5): #loop for five columns
        print('*', end='')  # end for putting * on the same line
    print()

*****
*****
*****

# Error handling

In [39]:
try:
    x = 3/ 0
except ZeroDivisionError as e:
    print(e)

division by zero

In [42]:
try:
    x = 10 + 'abc'
except TypeError as e:
    print(f'The following error occurred: {e}')

The following error occurred: unsupported operand type(s) for +: 'int' and 'str'

In [46]:
try:
    my_list = [1,2,3,4,5]
    print(my_list[10])
except Exception as e:
    print(f'The following error type has happened: {e}')

The following error type has happened: list index out of range